body {
    background-size: cover;
    background-image:url(Robot.jpeg)
}

message {
    background-color: white; color:red
}

message {
    font-size: 30px;
}

message2 {
    background-color: white; color:red
}

message2 {
    font-size: 30px;
}

message3 {
    background-color: white; color:red
}

message3 {
    font-size: 30px;
}

message4 {
    background-color: white; color:red
}

message4 {
    font-size: 30px;
}

message5 {
    background-color: white; color:red
}

message5 {
    font-size: 30px;
}

button {
    background-color: white;
    border-color: black;
    text-align: center;
    font-size: 25px;
}
input {
    font-size: 25px;
}
.Start {
    background-color: red;
    border-color:aqua;
    text-align: center;
    font-size: 40
}
.Start {
    position: fixed;
    left: 1050px;
    top: 50px
}
.Title {
    position: absolute;
    left:40%;
    top: 100px;
    font-size: 50px;
}
.Title {
    color:rgb(22, 28, 186)
}
.Title1 {
    position: absolute;
    left:40%;
    top: 200px;
    font-size: 50px;
}
.Title1 {
    color:rgb(22, 28, 186)
}
.Title2 {
    position: absolute;
    left:40%;
    top: 300px;
    font-size: 50px;
}
.Title2 {
    color:rgb(22, 28, 186)
}
.chat {
    position: fixed;
    left: 400px;
    top: 675;
}
.chat {
    background-color: blue; 
    border-color: rgb(197, 61, 158);
} 
.intro-field6 {
    position: fixed;
    left: 128px;
    top: 675px;
    border-color: black;
    
}
.chatMessage {
    position: absolute;
    left: 730px;
    top: 400px;
}
.chatMessage {
    background-color: white;
    color: black;
    font-size: 25px;
    white-space: pre-line;
}
chatMessage {
margin-top: 200px;
}
.intro-field {
    border-color: blue;
    max-width:160px;
    position: fixed;
}
.P1 {
    position: fixed;
    left: 250px;
    top: 10px;
}
.intro-field2 {
    border-color: blue;
    max-width:160px;
}
.intro-field3 {
    border-color: blue;
    max-width:160px;
}
.intro-field4 {
    border-color: blue;
    max-width:160px;
}
.intro-field5 {
    border-color: blue;
    max-width:160px;
}