body {
    background-size: cover;
    background-image:url(Robot.jpeg)
}

message {
    background-color: white; color:red
}

message {
    font-size: 30px;
    position:fixed;
    top: 300;
}

message2 {
    background-color: white; color:red
}

message2 {
    font-size: 30px;
    position:fixed;
    top: 350;
}

message3 {
    background-color: white; color:red
}

message3 {
    font-size: 30px;
    position:fixed;
    top: 400;
}

message4 {
    background-color: white; color:red
}

message4 {
    font-size: 30px;
    position:fixed;
    top: 450;
}

message5 {
    background-color: white; color:red
}

message5 {
    font-size: 30px;
    position:fixed;
    top: 500;
}

button {
    background-color: white;
    border-color: black;
    text-align: center;
    font-size: 25px;
    position: fixed;
}
input {
    font-size: 25px;
    position: fixed;
}
.Start {
    background-color: red;
    border-color:aqua;
    text-align: center;
    font-size: 40
}
.Start {
    position: fixed;
    left: 1050px;
    top: 50px
}
.Title {
    position: absolute;
    left:40%;
    top: 100px;
    font-size: 50px;
    font-weight: 800;
}
.Title {
    color:rgb(22, 28, 186)
}
.Title1 {
    position: absolute;
    left:40%;
    top: 200px;
    font-size: 50px;
    font-weight: 800;
}
.Title1 {
    color:rgb(22, 28, 186)
}
.Title2 {
    position: absolute;
    left:40%;
    top: 300px;
    font-size: 50px;
    font-weight: 800;
}
.Title2 {
    color:rgb(22, 28, 186)
}
.chat {
    position: fixed;
    left: 27%;
    bottom: 2%;
}
.chat {
    background-color: blue; 
    border-color: rgb(197, 61, 158);
} 
.intro-field6 {
    position: fixed;
    left: 2%;
    bottom: 2%;
    border-color: black;
    
}
.chatMessage {
    position: absolute;
    left: 760px;
    top: 250px;
}

.chatMessage {
    background-color: white;
    color: black;
    font-size: 25px;
    white-space: pre-line;
}

.chatMessageFR {
    position: absolute;
    left: 600px;
    top: 20px;
}

.chatMessageFR {
    background-color: white;
    color: black;
    font-size: 30px;
    white-space: pre-line;
}



.intro-field {
    border-color: blue;
    max-width:160px;
    position: fixed;
}
    
.P1 {
    left: 190px;
    position: fixed;
}
.intro-field2 {
    border-color: blue;
    max-width:160px;
    position: fixed;
    left: 290px;
    
}
.P2 {
    position: fixed;
    left: 450px;
}


.intro-field3 {
    border-color: blue;
    max-width:160px;
    position: fixed;
    top: 50;
    left: 29;
    
}
.P3 {
    position: fixed;
    top: 50;
    left: 190;
}

.intro-field4 {
    border-color: blue;
    max-width:160px;
    position: fixed;
    top: 50;
    left: 290;
}
.P4 {
    position: fixed;
    top: 50;
    left: 450;
}
.intro-field5 {
    border-color: blue;
    max-width:160px;
    position: fixed;
    top: 100;
    left: 29;
}
.P5 {
    position: fixed;
    top: 100;
    left: 190
}
.intro-field7 {
    position: fixed;
    left: 5px;
    bottom: 2px;
    max-width:700px;
}
.button7 {
    position: fixed;
    left: 280px;
    bottom: 2px;
    border-color: blue;
    
}
.your-message {
    position: fixed;
    left: 25%;
    top: 50%;
}
.your-message {
    background-color: white; color:red;
    font-size: 40px;
}